
<div class="">
  <h1>Users Management</h1>
  <button mat-raised-button style="color: #fff; background-color: blue;" (click)="addUsers()">Add User</button>
</div>

<div class="table-responsive">
  <table class="table table-radius table-fixed" style="border-radius: 15px solid black;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col" class="w-25">User Name</th>
        <th scope="col" class="w-25">Password</th>
        <th scope="col" class="w-25">Role</th>
        <th scope="col" class="w-25">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="
      let item of items
        | paginate
          : {
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count
            };
      let i = index
    ">
        <th scope="row">{{i + 1}}</th>
        <td>{{item.userName}}</td>
        <td>{{item.passWord}}</td>
        <td>{{item.role}}</td>
        <td>
          <button mat-raised-button style="color: #fff; background-color: blue;" (click)="edit(item)">Edit</button>
          <button mat-raised-button color="warn" (click)="delete(item)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>
