<!-- Header Start -->
<div class="container-fluid bg-dark px-0">
  <div class="row gx-0">
    <div class="col-lg-3 bg-dark d-none d-lg-block">
      <a class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
        <h1 class="m-0 text-primary text-uppercase">Yellow Hotel</h1>
      </a>
    </div>
    <div class="col-lg-9">
      <div class="row gx-0 bg-white d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
          <div class="h-100 d-inline-flex align-items-center py-2 me-4">
            <i class="fa fa-envelope text-primary me-2"></i>
            <p class="mb-0">1951060783@e.tlu.edu.vn</p>
          </div>
          <div class="h-100 d-inline-flex align-items-center py-2">
            <i class="fa fa-phone-alt text-primary me-2"></i>
            <p class="mb-0">0985363602</p>
          </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
          <div class="d-inline-flex align-items-center py-2">
            <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
            <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
            <!-- <div *ngIf="isLoggedIn==false" class="me-3" ><a [routerLink]="['signup']">Sign Up</a></div> -->
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
          <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto py-0">
            <a (click)="routerLink('Users')" class="nav-item nav-link">Users</a>
            <a (click)="routerLink('Rooms Booking')" class="nav-item nav-link">Rooms Booking</a>
            <a (click)="routerLink('Employees')" class="nav-item nav-link">Employees</a>
            <a (click)="routerLink('Letter')" class="nav-item nav-link">Letter</a>
          </div>
          <div>
            <a class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block" (click)="logOut()">Sign Out<i class="fa fa-arrow-right ms-3"></i></a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- Header End -->
<div class="container-fluid">
  <app-users-management *ngIf="statusLink == 1"></app-users-management>
  <app-booking-room-management *ngIf="statusLink == 2"></app-booking-room-management>
  <app-employees-management *ngIf="statusLink == 3"></app-employees-management>
  <letter-contact *ngIf="statusLink == 4"></letter-contact>
</div>
