<div class="d-flex justify-content-center">
  <h2 style="color: blue;" mat-dialog-title class="justify-center flex">{{data.title}}</h2>
</div>


<div mat-dialog-content>
  <div class="justify-content-center d-flex" style="color: black;">
    <div class="w-75">
      Are you sure you want to change this status ?
    </div>
  </div>
</div>
<div mat-dialog-actions class="justify-center flex">
  <button mat-raised-button *ngIf="data.item.status == 1" style="color: #fff; background-color: blue;" (click)="save('Comfront')">Comfront</button>
  <button mat-raised-button *ngIf="data.item.status == 2" style="color: #fff; background-color: rgb(255, 0, 72);" (click)="save('Decline')">Decline</button>
  <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
</div>
